@model Spenders.ViewModels.GroupDetailsViewModel

<body>
<div align="center">

    <div class="row col-10 justify-content-between" align="center">
        @foreach (var group in Model.Groups)
        {
            <div>
                <div class="card border-dark" style="width: 21rem;">
                    <div class="card-body">
                        <h4 class="card-title">@group.Name</h4>
                        <h6 class="card-title">@group.Description</h6>
                        <div>
                            <a asp-controller="Group" asp-action="Details" asp-route-groupId="@group.GroupId" class="btn btn-primary">Manage group</a>
                            <a class="btn btn-success" asp-controller="GeneralLedger" asp-action="Index" asp-route-groupId="@group.GroupId">Add new entries</a>
                            <a class="btn btn-secondary" asp-controller="GeneralLedger" asp-action="ReportsIndex" asp-route-groupId="@group.GroupId">Reports</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</body>


    @section Scripts
    {

        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

        <script type="text/javascript">

            $(document).ready(function () {

                $("div.container-sm").hide();

                $('input[type="radio"]').click(function () {

                    var inputValue = $(this).attr("value");

                    $("div.container-sm").hide();

                    $("#ReportType" + inputValue).show();

                });

                $(function () {
                    $("#datepicker").datepicker();
                });
                $(function () {
                    $("#datepicker1").datepicker();
                });
            });

        </script>

    }
